@use './variables.scss' as *;

h1, h2, h3{
  font-family: $heading;
}

h2{
  font-size: 2.5rem;
  margin-bottom: 24px;
  line-height: 3rem;
}

h3{
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 12px;
}

h4{
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-bottom: 2px;
}

.flex{
  display: flex;

  &-column{
    flex-direction: column;
  }
}