@use './variables.scss' as *;

h1, h2, h3{
  font-family: $heading;
}

h2{
  font-size: 2.5rem;
  margin-bottom: 24px;
  line-height: 3rem;
}

h3{
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 12px;
}

h4{
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-bottom: 2px;
}

.btn{
  display: inline-flex;
  margin: 0 10px;
  &-primary{
    padding: 10px 25px;
    text-decoration: none;
    font-size: 1.8rem;
    color: $primary;
    background: $dark;
    box-shadow: 6px 5px 0 #000;
    transform: skewX(-15deg);

    &:hover{
      cursor: pointer;
      transition: 0.5s;
      box-shadow: 10px 10px 0 $primary;
    }
  }
}

.flex{
  display: flex;

  &-column{
    flex-direction: column;
  }
}

.justify{
  &-between{
    justify-content: space-between;
  }
}

.color{
  &-main{
    color: $primary;
  }

  &-alt{
    color: $secondary;
  }

  &-light{
    color: #fff;
  }

  &-dark{
    color: $dark;
  }
}

.bg{
  &-main{
    background-color: $primary;
  }
  &-alt{
    background-color: $secondary;
  }

  &-light{
    background-color: #fff;
  }

  &-dark{
    background-color: $dark;
  }
}

.small{
  font-size: 1.6rem;
  line-height: 1.6rem;
}