@use './variables.scss' as *;

.header{
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  
  .hero{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1{
      font-size: 3rem;
      margin-bottom: 36px;
    }

    &-header{
      display: flex;
      height: 66%;
      padding-top: 64px;
      padding-left: 64px;
    }

    &-footer{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      background-color: $primary;
      height: 30%;
      padding: 24px;
      position: relative;

      &::before{
        content: "";
        position: absolute;
        top: -20px;
        width: 100%;
        height: 30px;
        background-image: radial-gradient(32.02px at 50% 45px,$primary 99%,transparent 101%);
        background-size: 43px;
        background-repeat: repeat-x;
      }
    }

    &-text-block{
      margin-left: 50px;
      padding-left: 50px;
      padding-top: 24px;
      width: 45%;
      display: flex;
      justify-content: center;

      p{
        font-size: 1.8rem;
        font-weight: 600; 
      }
    }
  }
}