.projects{
  width: 75%;
  margin-left: 50px;
  align-items: flex-end;
  .project{
    &-list{
      max-width: 85%;
      display: flex;
    }

    &-pane{
      display: flex;
      flex-direction: column-reverse;
      margin: 0 24px;
    }

    &-thumb{
      border-radius: 30px;
      width: 125px;
      height: 125px;
      object-fit: cover;
      margin-top: 12px;
    }

    &-skills{
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 12px;
      font-weight: 600;
    }

    &-description{
      display: none;
    }

  }
}