.projects{
  .hero-footer &{
    width: 75%;
    margin-left: 50px;
  }
  align-items: flex-end;
  .project{
    &-list{
      width: 100%;
      .hero-footer &{
        & > div{
          max-width: 85%;
          display: flex;
        }
      }
    }

    &-pane{
      margin: 0 24px;
      height: 100%;
      text-align: center;
      .hero-footer &{
        width: calc((100% / 3) - 24px);
      }
      &-details{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
      }
    }

    &-title{
      margin-bottom: 2px;
      text-transform: uppercase;
      height: 20%;
    }

    &-link{
      display: flex;
      justify-content: center;
      &:hover .project-thumb{
        box-shadow: 10px -10px 0 0 turquoise;
      }
    }

    &-thumb{
      border-radius: 30px;
      width: 125px;
      height: 125px;
      object-fit: cover;
      margin-top: 24px;
      transition: 300ms ease-out;
    }

    &-skills{
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 12px;
      font-weight: 600;
      margin-top: 4px;
      margin-bottom: 4px;
      text-wrap: nowrap;
    }

    &-description{
      font-size: 1.2rem;
      height: 50%;
      margin-top: 10px;
      width: 85%;
    }
  }

  .page_Work &{
    .project-list{
      padding-top: 50px;
    }
  }
}